@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  width: 900px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

/*Style nav bar */

nav {
  width: 900px;
  display: flex;
  align-items: baseline;
  padding: 0 3%;
  background-color: #e0e0e0;
}

.bank-name {
  font-family: Bevan;
  font-size: 2.5em;
  color: tomato;
  padding: 12px;
  margin-left: 10px;
}

.bank {
  font-size: 1.5em;
}
ul {
  display: flex;
  margin-left: auto;
}
li {
  list-style: none;
  padding: 12px;
}
a {
  text-decoration: none;
  font-size: 1.3em;
  color: black;
}
a:hover {
  height: 100vh;
  background-color: darkgray;
  padding: 23px 23px;
  transition: 0.3s;
  height: 100%;
}

/* Style the form */
.form {
  padding: 3%;
  width: 900px;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  margin-top: 1.7em;
}
.star {
  color: red;
  margin-right: 2px;
}
label {
  margin: 0.5% 0;
  font-weight: 700;
}
input {
  margin-bottom: 23px;
  font-size: 1.3em;
  border-radius: 3px;
}
select {
  margin-bottom: 23px;
  font-size: 1.3em;
  border-radius: 3px;
}
p {
  padding: 0 3%;
  color: red;
}

#other {
  display: none;
}

#other-label-details {
  color: red;
}
.other-container {
  display: none;
}
#required-star {
  font-size: 28px;
  position: relative;
  top: 8px;
}
i {
  color: seagreen;
}

/* Style the button */
#btn {
  font-size: 1.3em;
  font-weight: 600;
  padding: 7px;
  width: 15vw;
  margin: 0 auto;
  border-radius: 12px;
  background-color: tomato;
  box-shadow: 0 0 4px;
}
button:hover {
  background-color: gray;
}

.cssOtherDefined {
  margin-left: 12px;
}

/* #date {
  width: 100%;
  display: block;
  border: 2px solid green;
} */
